body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #4286f4, #001f3f);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.stock-data {
    text-align: left;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.buttons {
    margin-top: 20px;
}

.refresh-button,
.top20-button,
.topgainer-button,
.toplooser-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.refresh-button:hover,
.top20-button:hover,
.topgainer-button:hover,
.toplooser-button:hover {
    background-color: #0056b3;
}
